aic-chutes.ai.json
{
  "name": "aic-chutes.ai",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        192
      ],
      "id": "166611c2-20c3-4483-a4ee-da2d68ca6723",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chuteUrl": "https://chutes-unsloth-mistral-nemo-instruct-2407.chutes.ai",
        "prompt": "You are a professional children's storyteller. Based on the user prompt: 'Write a happy story about robot', write a short, engaging story (approx. 120 words). \n\nReturn ONLY a raw JSON object. Do NOT include markdown code blocks (```json), do NOT include a preamble, and do NOT include any conversational text.\n\nSchema:\n{\n\"story_text\": \"...\",\n\"visual_summary\": \"...\"\n}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        -448,
        192
      ],
      "id": "9dc1b6d1-98a2-47b4-987b-53ecaaf42d81",
      "name": "Generate text completion",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 2,
      "credentials": {
        "chutesApi": {
          "id": "OuZ824WcDoSWUTDM",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw content string from the LLM output you provided\nconst json_str = $input.first().json.choices[0].message.content;\n\ntry {\n  // Parse the string into a real JSON object\n  const data = JSON.parse(json_str);\n  return {\n    visual_summary: data.visual_summary,\n    story_text: data.story_text\n  };\n} catch (e) {\n  // Fallback if parsing fails\n  return { visual_summary: NaN };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        192
      ],
      "id": "cfa1f986-0477-4ffc-a8d5-7e00f449d2dd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "imageGeneration",
        "chuteUrl": "https://chutes-hunyuan-image-3.chutes.ai",
        "prompt": "=A 4-panel illustrated storyboard page.\n\nThis is NOT a comic book page.\nThere must be NO speech bubbles.\nThere must be NO text.\nThere must be NO captions.\nThere must be NO narration boxes.\nThere must be NO dialogue balloons.\nThere must be NO written words anywhere.\nThere must be NO typography.\n\nEach panel shows only main characters and environment.\n\nVisual storytelling only through:\n- body language\n- facial expression\n- lighting\n- composition\n- atmosphere\n\nBold ink outlines, halftone shading, graphic novel illustration style.\n\nClean white panel borders.\n\nNo graphic design elements except panel frames.\n\nThe panels visually depict this story through action only:\n{{ $json.story_text }}. the text is only for image generation and not used to create the text within the image.\n\nIf any text, speech bubbles, or written elements appear, the image is incorrect and must be regenerated without them.",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "0f1dbef2-c391-4e88-b071-5d888b216297",
      "name": "Generate images",
      "credentials": {
        "chutesApi": {
          "id": "OuZ824WcDoSWUTDM",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "resource": "textToSpeech",
        "chuteUrl": "https://chutes-kokoro.chutes.ai",
        "text": "={{ $json.story_text }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "52169ca7-4a9c-4416-96b4-4d4c27719660",
      "name": "Generate speech",
      "credentials": {
        "chutesApi": {
          "id": "OuZ824WcDoSWUTDM",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "resource": "musicGeneration",
        "chuteUrl": "https://chutes-diffrhythm.chutes.ai",
        "prompt": "=A 30 second cinematic ambient background score for a story about: {{ $json.story_text }}\nStyle: Melancholic lo-fi electronic, soft lonely piano, slow tempo, ethereal synth pads, glitchy mechanical textures, 65 BPM, somber atmosphere.",
        "additionalOptions": {
          "music_duration": "={{ 30 }}"
        }
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "13692dfa-5574-41c3-a8e2-0be0ddc6580a",
      "name": "Generate music",
      "credentials": {
        "chutesApi": {
          "id": "OuZ824WcDoSWUTDM",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "command": "ffmpeg -y -loop 1 -framerate 1 -i /files/image.png \\\n-i /files/speech.mp3 \\\n-i /files/music.wav \\\n-filter_complex \"[1:a]volume=2.5[v]; [2:a]volume=0.3[m]; [v][m]amix=inputs=2:duration=first:dropout_transition=0[a]\" \\\n-map 0:v -map \"[a]\" \\\n-c:v libx264 -preset ultrafast -tune stillimage \\\n-c:a aac -b:a 192k -ac 2 -ar 44100 \\\n-pix_fmt yuv420p -shortest /files/final_story.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        192
      ],
      "id": "87a3eb25-bd4d-4a73-98ac-25c26de30520",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        176
      ],
      "id": "268a4921-e6b6-477f-83a9-28fdc69a6292",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/speech.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "795a8de8-eca4-4066-b137-746506346f97",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/image.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "a0cffb5b-673f-4192-826f-5779bdf2f4c5",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/music.wav",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        224,
        384
      ],
      "id": "1ddfa788-5093-4d48-9958-bb9f48d2ab89",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "fileSelector": "/files/final_story.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        880,
        192
      ],
      "id": "eaf9a57f-6401-47c2-a5bc-486cbfdda086",
      "name": "Read Final-story.mp4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Generate text completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate text completion": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Generate images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate speech",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate images": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate speech": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate music": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read Final-story.mp4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78c85223-3c13-4b69-8666-e899b1cc087a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2584e22791d1f15c10863354a901735456d3405d7c6d88785dbf6149111584cc"
  },
  "id": "dUgSEtawsB7OSRcb",
  "tags": []
}