aic-chutes.ai.json
{
  "name": "aic-chutes.ai",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d56bd9ea-fc32-4c74-8af0-ab5815a76095",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chuteUrl": "https://chutes-openai-gpt-oss-120b-tee.chutes.ai",
        "prompt": "You are a professional children's storyteller. Based on the user prompt: 'boy play with a girl', write a short, engaging story (approx. 120 words). \n\nReturn ONLY a raw JSON object. Do NOT include markdown code blocks (```json), do NOT include a preamble, and do NOT include any conversational text.\n\nSchema:\n{\n\"story_text\": \"...\",\n\"visual_summary\": \"...\"\n}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "aada11f7-8c11-479e-ac3b-2144cd751f92",
      "name": "Generate text completion",
      "credentials": {
        "chutesApi": {
          "id": "BozbtcEqz5lgo0Xe",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw content string from the LLM output you provided\nconst json_str = $input.first().json.choices[0].message.content;\n\ntry {\n  // Parse the string into a real JSON object\n  const data = JSON.parse(json_str);\n  return {\n    visual_summary: data.visual_summary,\n    story_text: data.story_text\n  };\n} catch (e) {\n  // Fallback if parsing fails\n  return { visual_summary: NaN };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "fec0bedc-472b-4acb-bc51-08927d9de73c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "imageGeneration",
        "chuteUrl": "https://chutes-z-image-turbo.chutes.ai",
        "prompt": "=Draw this complete story with minimum of 10 panels without any single texts: {{ $json.story_text }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        816,
        -176
      ],
      "id": "9368781f-cbc8-447e-aa12-474fcb43a3f7",
      "name": "Generate images",
      "credentials": {
        "chutesApi": {
          "id": "BozbtcEqz5lgo0Xe",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "resource": "musicGeneration",
        "chuteUrl": "https://chutes-diffrhythm.chutes.ai",
        "prompt": "=make a relaxing ambient music to play alongside with this story:  {{ $json.story_text }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "e1c323fb-3ac7-447b-92fd-816e0127ff78",
      "name": "Generate music",
      "credentials": {
        "chutesApi": {
          "id": "BozbtcEqz5lgo0Xe",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "resource": "textToSpeech",
        "chuteUrl": "https://chutes-kokoro.chutes.ai",
        "text": "={{ $json.story_text }}",
        "voice": "af_bella",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        816,
        160
      ],
      "id": "fcc46ec0-81d9-4bd8-8be7-3dfc9b53c46f",
      "name": "Generate speech",
      "credentials": {
        "chutesApi": {
          "id": "BozbtcEqz5lgo0Xe",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/image.png",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        -176
      ],
      "id": "cda72479-9bcd-4770-bb69-87f664d4ff8e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/music.wav",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        0
      ],
      "id": "b44c9454-912a-4995-b0ed-32b9986da459",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/speech.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        160
      ],
      "id": "7f197d00-eba6-4472-a30f-7f54802bfd3e",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        -16
      ],
      "id": "02843997-dac6-426f-8c79-c3658024f83e",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "ffmpeg -y -loop 1 -framerate 1 -i /tmp/image.png \\\n-i /tmp/speech.mp3 \\\n-i /tmp/music.wav \\\n-filter_complex \"[1:a]volume=2.5[v]; [2:a]volume=0.3[m]; [v][m]amix=inputs=2:duration=first:dropout_transition=0[a]\" \\\n-map 0:v -map \"[a]\" \\\n-c:v libx264 -preset ultrafast -tune stillimage \\\n-c:a aac -b:a 192k -ac 2 -ar 44100 \\\n-pix_fmt yuv420p -shortest /tmp/final_story.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1536,
        0
      ],
      "id": "a87e3648-73a4-4285-9ee0-ca570b1028ba",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Generate text completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate text completion": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Generate images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate music",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate music": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate images": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate speech": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b4cc3be9-15aa-48c8-9f92-7a6b5f445be3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76609d6d1b00add3e2f5fa83a9f062e99620332f098db1c9a046632c5ad5d145"
  },
  "id": "LyZu3LmL2Z4HEtcX",
  "tags": []
}