aic-chutes.ai.json
{
  "name": "aic-chutes.ai",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        768
      ],
      "id": "7510a008-1d24-4bde-959b-0ef7dceaa3a4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chuteUrl": "https://chutes-openai-gpt-oss-120b-tee.chutes.ai",
        "prompt": "You are a professional children's storyteller. Based on the user prompt: 'a happy robot', write a short, engaging story (approx. 120 words). \n\nReturn ONLY a raw JSON object. Do NOT include markdown code blocks (```json), do NOT include a preamble, and do NOT include any conversational text.\n\nSchema:\n{\n\"story_text\": \"...\"\n}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        -848,
        768
      ],
      "id": "dd060d5e-d3da-498e-be76-3548bc3f3932",
      "name": "Generate text completion",
      "credentials": {
        "chutesApi": {
          "id": "aqtmckN72n5BblYZ",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw content string from the LLM output you provided\nconst json_str = $input.first().json.choices[0].message.content;\n\ntry {\n  // Parse the string into a real JSON object\n  const data = JSON.parse(json_str);\n  return {\n    visual_summary: data.visual_summary,\n    story_text: data.story_text\n  };\n} catch (e) {\n  // Fallback if parsing fails\n  return { visual_summary: NaN };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        768
      ],
      "id": "82f5ff3e-6e86-4ac6-b718-53c472671e67",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "imageGeneration",
        "chuteUrl": "https://chutes-z-image-turbo.chutes.ai",
        "prompt": "=Draw this complete story with minimum of 10 panels without any single texts: {{ $json.story_text }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        -400,
        576
      ],
      "id": "4b6b6aad-1239-43a9-959c-bdf55442eed6",
      "name": "Generate images",
      "credentials": {
        "chutesApi": {
          "id": "aqtmckN72n5BblYZ",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "resource": "musicGeneration",
        "chuteUrl": "https://chutes-diffrhythm.chutes.ai",
        "prompt": "=make a relaxing ambient music to play alongside with this story:  {{ $json.story_text }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        -400,
        768
      ],
      "id": "79a34581-e305-4e65-8a23-44a25fbb5898",
      "name": "Generate music",
      "credentials": {
        "chutesApi": {
          "id": "aqtmckN72n5BblYZ",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "resource": "textToSpeech",
        "chuteUrl": "https://chutes-kokoro.chutes.ai",
        "text": "={{ $json.story_text }}",
        "voice": "af_bella",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-chutes.chutes",
      "typeVersion": 1,
      "position": [
        -400,
        960
      ],
      "id": "f8553bc3-227a-48d8-9c7f-273d3a9e51ee",
      "name": "Generate speech",
      "credentials": {
        "chutesApi": {
          "id": "aqtmckN72n5BblYZ",
          "name": "Chutes account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/image.png",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        576
      ],
      "id": "16b0a89a-5485-46cf-b340-e2285b2f5dbc",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/music.wav",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        768
      ],
      "id": "d8a0a251-a6b7-4eee-b4a4-d9eb284f0b7e",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/speech.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        960
      ],
      "id": "f8b7fa6d-c3e7-4cf9-8723-8c9812614aee",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        752
      ],
      "id": "2cea2456-d476-4d12-baf1-b2caf9c6d61c",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "ffmpeg -y -loop 1 -framerate 1 -i /files/image.png \\\n-i /files/speech.mp3 \\\n-i /files/music.wav \\\n-filter_complex \"[1:a]volume=2.5[v]; [2:a]volume=0.3[m]; [v][m]amix=inputs=2:duration=first:dropout_transition=0[a]\" \\\n-map 0:v -map \"[a]\" \\\n-c:v libx264 -preset ultrafast -tune stillimage \\\n-c:a aac -b:a 192k -ac 2 -ar 44100 \\\n-pix_fmt yuv420p -shortest /files/final_story.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        272,
        768
      ],
      "id": "1186ceca-f18c-4909-9115-bcd9896d2f53",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/files/final_story.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        496,
        768
      ],
      "id": "15111384-e33c-4e13-b269-6fe59f01f558",
      "name": "Read/Write Files from Disk3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Generate text completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate text completion": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Generate images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate music",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate music": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate images": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate speech": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5fc08e22-3db9-4412-bb59-ecf145167d90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f03b7f597c8abcdc85d5f9e987a6ff30f925d8001f68eb7b29b48b2184e0e3d"
  },
  "id": "mSdmhqyech3skicN",
  "tags": []
}